<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Edit Comment</h1>
            <form method="post" action="/comments/<%= comment.id %>?_method=PATCH">
                <div class="field">
                    <label class="label" for="comment">Comment</label>
                    <div class="control">
                        <textarea class="textarea" name="comment"><%= comment.comment %></textarea>
                    </div>
                </div>
                <div class="control">
                    <button class="button is-primary">Save</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
