<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Comments</h1>
            <ul>
                <% for (let c of comments) { %>
                    <li>
                        <%= c.comment %> - <b><%= c.username %></b>
                        <a href="/comments/<%= c.id %>">Details</a>
                    </li>
                <% } %>
            </ul>
            <a class="button is-primary" href="/comments/new">New Comment</a>
        </div>
    </section>
</body>
</html>
