<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Comments App
                </h1>
                <h2 class="subtitle">
                    Welcome to the Comments App powered by Express and Bulma!
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div  class="container">
            <h2 style="text-align: center;" class="title is-2"><a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.demolab.com?font=Fira+Code&weight=700&size=24&duration=1500&pause=1200&color=3488CE&background=FFFFFF00&center=true&width=435&lines=Comments%F0%9F%91%8B;Tweets%F0%9F%90%A6;Posts%F0%9F%93%AE;Thoughts%F0%9F%92%AD" alt="Typing SVG" /></a></h2>
            <ul>
                <% for (let c of comments) { %>
                    <li>
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong><%= c.username %></strong>
                                            <br>
                                            <%= c.comment %>
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <div class="buttons">
                                        <a class="button is-info" href="/comments/<%= c.id %>">Details</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </li>
                <% } %>
            </ul>
            <a class="button is-primary" href="/comments/new">New Comment</a>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>developed by</strong> ~Aayush karwa
            </p>
        </div>
    </footer>
</body>
</html>
