<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h2 class="title">Add a New Comment</h2>
            <form action="/comments" method="post">
                <div class="field">
                    <label class="label" for="username">Enter Username</label>
                    <div class="control">
                        <input class="input" type="text" id="username" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="comment">Comment Text</label>
                    <div class="control">
                        <textarea class="textarea" name="comment" id="comment" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="control">
                    <button class="button is-primary">Submit</button>
                </div>
            </form>
            <a class="button is-light" href="/comments">Back to all comments</a>
        </div>
    </section>
</body>
</html>
